.home-main {
  background: url(../../Assets/todo-home.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
.bg-blur {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-text {
  padding: 20px;
}
.start-btn {
  font-size: 20px;
  border-radius: 12px;
  padding: 10px 30px;
  margin-top: 40px;
  text-decoration: none;
  font-family: monospace;
  text-transform: uppercase;
  border: 1px solid gray;
  background-color: #fff;
  color: red;
  transition: 0.5s ease-in-out all;
  cursor: pointer;
}

.start-btn:hover {
  background-color: red;
  color: #fff;
  transition: 0.5s ease-in-out all;
}
